body,html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: none;
}
.wrapper, .phone, .phone__viewport {
	background-repeat: no-repeat;
}
.phone, .phone:before, .phone__viewport {
	position: absolute;
	display: inline-block;
}
.wrapper {
	height: 100%;
	background-size: 100% 100%;
	filter: grayscale(100%);
}
.phone {
	background-image: url(../i/phone.png);
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 170px;
    height: 355px;
}
.phone:before {
	content: '';
    background-image: url(../i/phone.png);
    z-index: 1;
    width: 190px;
    height: 400px;
    left: -12px;
    top: -20px;
    bottom: 0;
    background-size: 190px 400px;
}
.phone__viewport {
	overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}